a.card-link {
  text-decoration: none;
  color: inherit;
}

.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-4 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.link-btn {
  padding: 0;
  margin: 0;
  display: inline;
}

.link-text {
  color: #0d6efd;
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  &:not(.btn) {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
.button_to {
  display: inline;
}
